@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}
@function stroke($stroke, $color) {
    $shadow: ();
    $from: $stroke * -1;
    @for $i from $from through $stroke {
      @for $j from $from through $stroke {
        $shadow: append($shadow, $i * 1px $j * 1px 0 $color, comma);
      }
    }
    @return $shadow;
}

@mixin stroke($stroke, $color) {
  text-shadow: stroke($stroke, $color);
}

.courseCont{
    padding-top: 2vh;
}

.classes{
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h2{
      color: wheat;
        text-align: center;

    }
    .class11{
      margin-top: 5vh;
      h2{
        padding-top: 1vh;
        padding-bottom: 1vh;
        background-color: #6402A3;
      }
    }
}


.courseCont h1{
    font-size: 50px;
    text-align: center;
    @include stroke(2,#6402A3);
    color: white;
    letter-spacing: 2px;
    font-weight: 900;
    padding: 50px 10px 10px 10px;
}

.courseCont h1 span{
  letter-spacing: -2px;
    @include stroke(0,BLACK);
    color: black;

}

th, td{
    text-align: center;
}